/core
/createJobscript.sh
/gold_standard.npy
/job.script
Makefile
obst_file.lbm
*.cub
*.ptx
*.lst
params.lbm
/validate_r3.py
*+pat*
*~
/*.b_dat
/*.vtk
WMBrick3D
*.o
/*.out
/gen_gold_standard.py
*.pyc
